* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p {
    font-size: 11px;
    color: hsl(228, 12%, 48%);
    line-height: 2;
}


h2 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.container {
    display: flex;
    margin: 100px auto;
    /*justify-content: center;*/
    max-width: 40vw;
    background-color: white;
    border-radius: 10px;
    max-height: 70vh;
    overflow: hidden;
}

.container-item {
    width: 50%;
}

.container-item img {
    width: 100%;
    height: 100%;

}

.mobile-img {
    display: none;
}

.product-desc {
    padding: 25px;
    height: 100%;
}

.perfume {
    letter-spacing: 5px;
}

.price {
    display: flex;

}

.promo-price {
    color: #3F7D66;
    margin-right: 15px;
}

.initial-price {
    text-decoration-line: line-through;
}

.button {
    display: flex;
    background-color: #3D8168;
    padding: 10px;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
}

.button img {
    width: 8%;
    margin-right: 10px;
}

.button span {
    color: white;
}

.button:hover {
    cursor: pointer;
    background-color: #1A3E31;
}

/* MOBILE VIEW CSS */
@media only screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 20px 15px;
        justify-content: center;
        max-width: 100vw;
        background-color: white;
        border-radius: 10px;
        max-height: 100vh;
        overflow: hidden;
    }

    .desktop-img {
        display: none;
    }

    .mobile-img {
        display: block;
    }

    .container-item {
        width: 100%;
    }

    .button img {
        width: 8%;
        margin-right: 10px;
    }


}
